{% extends 'layout.html' %}

{% block content %}

    <div class="container">
        <h4 style="margin-left: 45px"> Delete a pet ? </h4>
        <hr>

            <p style="margin-left: 45px">
                Pet Id: {{ pet.id }} <br>
                Title: {{ pet.name }} <br>
                Author: {{ pet.owner }} <br>

            </p>
        <br>
        <form action="{{ url_for('pets.delete_pet', pet_id=pet.id) }}" method="POST" style="margin-left: 45px">
            <button type="submit" class="btn btn-sm btn-primary"> delete </button>
        </form>
    </div>

{% endblock content%}