{% extends 'layout.html' %}
    {% block content %}
<main class="hero-section">

    <div class="section-content">
        <h2 class="text-center large"> Welcome to {{ site_name }} </h2>


        <p>
            {{ site_name }} specializes in senior care sitting for dogs. We know that seniors need
            a little more personal attention and affection.
         </p>
        <p>

            At {{ site_name }} you can be assured your pet will get the best personalized attention in a stress
            free environment and will never be
            alone.
        </p>

        <br><br>
        <a href="{{ url_for('authentication.register_user') }}" class="btn-primary">Sign Up</a>
        <a href="{{ url_for('pets.display_pets') }}" class="btn-secondary">Learn More</a>

    </div>
    <div class="section-device">
        <div class="right">
            <img src="../../static/img/Gianna-4.jpg" alt="Gianna Vemeer" ><p>Gianna</p>
        </div>
    </div>
    <div class="clearfix"></div>


</main>

    {% endblock content %}
